# **EJERCICIO UNO**
## *Crear y operar*

In [1]:
import pandas as pd

datos = {
    'Nombre':  ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'Edad':    [25, 30, 22, None, 28],
    'Ciudad':  ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'Ingreso': [3000, 4500, 2800, 5000, None]
}

df = pd.DataFrame(datos)

# Guarda el dataset base para ejercicios de lectura/escritura
df.to_csv('actividad_semana5.csv', index=False)
df.head()

  Nombre  Edad    Ciudad  Ingreso
0    Ana  25.0    Madrid   3000.0
1    Bob  30.0      Lima   4500.0
2  Clara  22.0    Bogotá   2800.0
3  Diego   NaN  Medellín   5000.0
4    Eva  28.0      None      NaN

## **Series crear y operar**

In [3]:
#se crea la serie, usando pd.Series, que es un metodo de pandas. Le agregamos en array los datos que tendra la serie
Serie = pd.Series([10, 20, 30, 40, 50])
#se muestra
print(Serie)
#para acceder a un valor, lo hacemos de la misma forma que con una lista.
#accedemos llamando a la serie y entre corchetes la posicion que queremos editar
#lo igualamos con la misma posicion que se quiere editar y simplemente hacemos la operacion que queramos
Serie[1] = Serie[1] *2
#se muestra
print(Serie)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0    10
1    40
2    30
3    40
4    50
dtype: int64

## **2. Crear y Explorar**

In [4]:
#se crea el dataframe con sus columnas correspondientes
dataframePequeño = {
    "nombre" : ["richi", "juanes", "sebas"],
    "edad" : [50, 18, 18],
    "curso" : ["albañil", "ADSO", "ADSO"]
}
print("tabla:")
#se crea una variable dfp, se le asigna a travez del metodo pd.Dataframe de la importacion de pandas.
dfp = pd.DataFrame(dataframePequeño)

print(dfp)
print("tipo de datos:")
#este metodo muestra de una mejor forma los tipos de datos. se ve mas orgaanizado
print(dfp.dtypes)

tabla:
   nombre  edad    curso
0   richi    50  albañil
1  juanes    18     ADSO
2   sebas    18     ADSO
tipo de datos:
nombre    object
edad       int64
curso     object
dtype: object

## **3) Inspeccionar y explorar**

In [ ]:
import pandas as pd

# Se crea el diccionario con los datos
dataframePequeño = {
    "nombre": ["richi", "juanes", "sebas"],
    "edad": [50, 18, 18],
    "curso": ["albañil", "ADSO", "ADSO"]
}

# Se convierte en DataFrame
dfp = pd.DataFrame(dataframePequeño)

#  Mostrar primeras filas
print("Primeras filas:")
print(dfp.head())

#  Mostrar últimas filas
print("\nÚltimas filas:")
print(dfp.tail())

#  Información general del DataFrame
print("\nInformación del DataFrame:")
dfp.info()

#  Dimensiones del DataFrame
print("\nDimensiones (filas, columnas):")
print(dfp.shape)

# Estadísticas descriptivas (solo para columnas numéricas)
print("\nEstadísticas descriptivas:")
print(dfp.describe())

#.head -> muestra la primera fila
#.tail -> muestra la ultima
#.info -> informacion general
#.shape -> muestra las dimensiones
#.describe -> resumen estadistico pero solo para columnas numericas.

## **Acceder a columnas y filas**

In [ ]:
#Obtén la columna Nombre como Series.

serie_nombre = dfp["nombre"]
print(serie_nombre)
#tambien se puede asi:
serie_conpunto = dfp.nombre
print(serie_conpunto)

#Obtén la fila con índice 1 usando loc y iloc.

dfp.loc[1] # devuelve al fila cuyo indice sea 1
dfp.iloc[1] # busca la posicion numerica, empezando desde cero
#siempre devuelve la segunda fila del Dataframe, sin importar el valor del indice.

#Accede al valor específico (fila 1, columna Edad).
print("Accede al valor específico (fila 1, columna Edad)")
#1: busca la fila que le hayamos puesto, en este caso, buscara la columna 1
#2:luego, busca la columna por su nombre, en este caso "edad"
print(dfp.loc[1, "edad"])

# o tambien se puede de esta forma:
#1: busca la fila numero 1 ( osea la segunda fila, porque empieza desde cero 0)
#2: luego, busca la columna numero 1 (tambien la segunda columna por la misma razon)

print(dfp.iloc[1,1])

## **Operaciones básicas**

In [ ]:
# se crea una variable, se le asigna la columna edad, pero sumada en 5
aumentoen5 = dfp["edad"] + 5
# se muestra el resultado
print(aumentoen5)
# ahora, de esta sencilla forma se crea una nueva columna, agregamos 3 valores
dfp["Ingreso_mensual"] = [-100, 3600000, 3600000]
# se crea una nueva columna, pero se usa la anterior multiplicada por 12 para el efecito anual
dfp["Ingreso *12"] = dfp["Ingreso_mensual"] * 12
# se muestra el data frame actualizado.
print(dfp)

## **Filtrar datos**

In [ ]:
# simplemente, se obtiene la columna de edad y con una operacion de comparacion
# se filtran las edades mayores a 30
print(dfp["edad"] > 30)
# lo mismo para filtrar nombres, el resultado aparece en true, donde se halla encontrado la condicion
print(dfp["nombre"] == "richi")

## **Manejo de valores faltantes**

In [ ]:
print("¿Hay nulos?")
print(dfp.isna())  # Muestra un mapa de nulos (True/False)
print("\nCantidad de nulos por columna:")
print(dfp.isna().sum())  # Cuenta cuántos nulos hay por columna

# Edad: reemplazar nulos con 0
dfp["edad"] = dfp["edad"].fillna(0)

# Ciudad: si no existe, primero la creamos con algunos nulos
if "Ciudad" not in dfp.columns:
    dfp["Ciudad"] = [None, "Medellín", None]  # ejemplo

dfp["Ciudad"] = dfp["Ciudad"].fillna("Desconocido")

# Ingreso: si no existe, la creamos con algunos nulos
if "Ingreso" not in dfp.columns:
    dfp["Ingreso"] = [1000, None, 1500]  # ejemplo

mediana_ingreso = dfp["Ingreso"].median()
dfp["Ingreso"] = dfp["Ingreso"].fillna(mediana_ingreso)

print("\nDataFrame actualizado:")
print(dfp)

## **Leer y guardar datos**

In [ ]:
import pandas as pd

datos = {
    'Nombre':  ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'Edad':    [25, 30, 22, None, 28],
    'Ciudad':  ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'Ingreso': [3000, 4500, 2800, 5000, None]
}

df = pd.DataFrame(datos)

# Guarda el dataset base para ejercicios de lectura/escritura
df.to_csv('actividad_semana5.csv', index=False)
df.head()

print(df.head())


df_leido = pd.read_csv('actividad_semana5.csv')
print(df_leido.head())

# Seleccionar columnas
df_seleccionado = df_leido[["Nombre", "Edad", "Ciudad"]]

# Guardar nuevo CSV
df_seleccionado.to_csv("actividad_filtrada.csv", index=False)

## **Ejercicio integrado**

In [ ]:
import pandas as pd

# Leer el CSV original
df = pd.read_csv("actividad_semana5.csv")

#Incrementar Edad en 5
df["Edad"] = df["Edad"].fillna(0) + 5

# Crear columna Ingreso_anual
df["Ingreso_anual"] = df["Ingreso"].fillna(0) * 12

#Filtrar personas con Ingreso_anual > 36000
df_filtrado = df[df["Ingreso_anual"] > 36000]

#Ordenar por Ingreso_anual descendente
df_ordenado = df_filtrado.sort_values(by="Ingreso_anual", ascending=False)

#Guardar como CSV
df_ordenado.to_csv("personas_filtradas.csv", index=False)

# Mostrar resultado final
print(df_ordenado)